<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span
        >Copyright &copy;
        <a
          title="More info"
          href="https://www.youtube.com/watch?v=CO4dcmzEqa8"
          target="_blank"
          >NgocTuDev - Doctors Care - 2022</a
        ></span
      >
    </div>
  </div>
</footer>
